/* General
======================== */
:root {
  font-family: “Playfair Display”,
    “Didot”,
    "Times New Roman",
    Times,
    serif;
  --font-size: 16px;
  --light-color: #4a4d4e;
  --light-bg: #dcdcdc;
  --light-nav: #e4e4e4;
  --light-secondary: #e4e4e4;
  --dark-color: #e4e4e4;
  --dark-bg: #000000;
  --dark-nav: #2b2b2b;
  --dark-secondary: #2b2b2b;
  --cursor-primary: rgba(255, 211, 191, 0.925);
  --cursor-secondary: rgba(255, 161, 73, 0.445);
  --cursor-third: rgb(255, 108, 40, 0.28);
  --cursor-pulse-in-inner: 0px 0px 3px 3px;
  --cursor-pulse-out-inner: 0px 0px 5px 5px;
  --cursor-pulse-in-mid: 0px 0px 15px 15px;
  --cursor-pulse-out-mid: 0px 0px 18px 18px;
  --cursor-pulse-in-outer: 0px 0px 65px 35px;
  --cursor-pulse-out-outer: 0px 0px 80px 50px;
}

body,
* {
  height: 100vh;
  cursor: none;
  margin: 0;
  font-family: var(--font) !important;
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.canvas-container {
  background-color: #000000;
}

/* Cursor
============================== */

@keyframes pulse {
  0% {
    box-shadow:
      var(--cursor-pulse-in-inner) var(--cursor-primary),
      var(--cursor-pulse-in-mid) var(--cursor-secondary),
      var(--cursor-pulse-in-outer) var(--cursor-third);
  }

  50% {
    box-shadow:
      var(--cursor-pulse-out-inner) var(--cursor-primary),
      var(--cursor-pulse-out-mid) var(--cursor-secondary),
      var(--cursor-pulse-out-outer) var(--cursor-third);
  }

  100% {
    box-shadow:
      var(--cursor-pulse-in-inner) var(--cursor-primary),
      var(--cursor-pulse-in-mid) var(--cursor-secondary),
      var(--cursor-pulse-in-outer) var(--cursor-third);
  }
}

.cursor {
  pointer-events: none;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 210, 168) !important;
  border-radius: 100px;
  box-shadow: 0px 0px 10px 10px var(--cursor-primary), inset 0 0 8px var(--cursor-primary);
  animation: pulse 2s linear 1s infinite;
  -webkit-animation: pulse 2s linear 1s infinite;
}
